.link-menu{
    color: black;
}

.navbar-brand{
    font-family: 'Redressed', cursive;
}

.card{
    width: 450px;
    height: 520px;
    margin: auto;
}

.post_{
    display: flex;
    width: 600px;
    height: 250px;
    margin: auto;
}

.register{
    width: 45%;
    height: 60%;
    margin: auto;
    padding: 10px 20px;
    border: 1px solid #dddddd;
    border-radius: 3px;
    margin-top: 20px;
}

.message{
    text-align: center;
    color:green;
}

.logout{
    margin-top: 60px;
    text-align: center;
}

.profile{
    width: 45%;
    height: 600px;
    border: 1px solid black;
    margin: auto;
    margin-top: 15px;
    border-radius: 5px;
}

.profile_pic{
    width: 30%;
    height: 220px;
}

.profile_header{
    background-color: #99d6ff;
    border-radius: 5px;
    text-align: center;
}

.post_rounded-circle{
    width: 30px;
    height: 30px;
    margin-right: 5px;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;

}

.rounded-circle{
    margin-top: 20px;
    margin-left: 30px;
    width: 120px;
    height: 120px;

}

.about_me{
    width: 300px;
    height: 150px;
    margin-top: 30px;
    margin-left: 70px;
    float: left;
}


/*new_profile*/

.whole{
    margin: auto;
    width: 100%;
    height: 150px;
    display: flex;
}

.profile{
    display: flex;
/*    width: 50%;
    height: 20%;*/
}
