{% extends 'main_page/base.html' %}
{% block content %}
{% for post in posts %}
    <div class="post_">
        <div class="d-flex flex-column mt-4 mb-4">
            <div class="card">
                <div class=card-header>
                    <div class="d-flex flex-row aligh-items-center">
                        <div class="post_rounded-circle overflow-hidden d-flex justify-content-center align-items-center border border-danger story-profile-photo">
                            <img src="assets/images/profiles/profile-1.jpg" alt="" style="transform: scale(1.5); width: 100%; position: absolute; left: 0;">
                        </div>
                        <small>{{ post.author }} {{post.date_posted}}</small>
                    </div>
                    {{ post.title }}
                    {{ post.description }}
                </div>
            </div>
        </div>
    </div>
{% endfor %}
{% endblock %}
