{% extends 'main_page/base.html' %}
{% block content %}


    <div class="post_ d-flex flex-column mt-4 mb-4 card" style="border: 1px solid black;">
        <!-- <div class="profile_header">
            <h2>{{user.username}}</h2>
        </div> -->
        <div class="profile_pic" style="border: 1px solid black;">
             <img class="rounded-circle account-img" src="{{ user.usersprofile.profile_pic.url }}">
        </div>
        <div style="border: 1px solid black;" class="about_me">
            <h5>{{user.username}} {{user.usersprofile.sec_name}}</h5>
            <small>{{user.usersprofile.email}}</small>
            <div class="user_desctription">
                {{ user.usersprofile.description }}
            </div>
            <div style="border: 1px solid black;" class="form-group">
                <a href=" {% url 'profile-update' %} " style="color: white"><button type="subbmit" class="btn btn-primary mb-3 mt-2">Update profile</button></a>
                <a href="{% url 'create_post' %}" style="color: white"><button type="subbmit" class="btn btn-primary mb-3 mt-2">Add picture</button></a>
            </div>
        </div>
    </div>


{% endblock %}
